@import '../../scss/variables';

.Center{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 15px;
}

.SectionB{
  border-radius: 2%;
  padding: 10px 55px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  h4{
    font-size: 1.5em;
    margin: 10px;
  }

  .SubSectionB{
    padding: 10px;
    border-radius: 3%;
    margin-bottom: 15px;
  }
}