@import "../../../scss/variables";

.CheckFieldS{
  padding: 5px;

  .CheckLabel{
      text-align: right;
  }

  .ToggleOffS{
    background-color: $blue-off;
    color: $blue;
     h6{
       margin-top: 5px;
     }
  }

  .ToggleOnS{
    background-color: $blu-on;
    color: $primary-color;
    h6{
      margin-top: 5px;
    }
  }
}