@import "../../../scss/variables";

.CheckFieldS{
  padding: 5px;

  .CheckLabel{
      text-align: right;
  }

  .ToggleOffS{
     h6{
       margin-top: 5px;
     }
  }

  .ToggleOnS{

    h6{
      margin-top: 5px;
    }
  }
}