@import "../../../scss/variables";

.DisplayS{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .8em;
  color: $primary-color;

  .LabelS{
    text-align: right;
    padding: 0;
  }
}

@media only screen and (max-width: 575px){
  .DisplayS{
    text-align: center;

    .LabelS{
      text-align: center;
    }
  }
}
