@import "variables";
@import "../Containers/Header/NavItem/NavItem";

.TranquilityTheme{
  .NavBar .NavBarNav{
    .NavItem{
      &:hover{
        background-color:$blue ;
      }

      .CenterN{
        color: $blue;

        &:hover{
          color: $primary-color;
        }
      }
    }
  }

  .container{
    h3{
      color: $blue;
    }

    .SectionB{
      background-color: $blue-light;
      color: $primary-color;

      .ResponsiveImg{
        border: 1px solid  $blue ;
      }

      .SubSectionB{
        background-color: $blue;

        .DisplayS{
          color: $primary-color;
        }

        .InputField .Input {
          background-color: $blue-off;

          &::placeholder{
            color: $blue;
          }
        }

        .SelectS .FieldS{
          background-color: $blue-off;
          color: $blue;
        }

        .CheckFieldS{
          .ToggleOffS{
            background-color: $blue-off;
            color: $blue;
          }

          .ToggleOnS{
            background-color: $blu-on;
            color: $primary-color;
          }
        }
      }
    }
  }

}

.SafariTheme{
  .NavBar .NavBarNav{
    .NavItem{
      &:hover{
        background-color:$yellow ;
      }

      .CenterN{
        color: $brown;

        &:hover{
          color: $brown;
        }
      }
    }
  }

  .container{
    h3{
      color: $brown;
    }

    .SectionB{
      background-color: $yellow-light;
      color: $primary-color;

      .ResponsiveImg{
        border: 1px solid  $brown ;
      }

      .SubSectionB{
        background-color: $brown;

        .DisplayS{
          color: $primary-color;
        }

        .InputField .Input {
          background-color: $yellow-light;

          &::placeholder{
            color: $brown;
          }
        }

        .SelectS .FieldS{
          background-color: $yellow-light;
          color: $brown;
        }

        .CheckFieldS{
          .ToggleOffS{
            background-color: $yellow-light;
            color: $brown;
          }

          .ToggleOnS{
            background-color: $brown-on;
            color: $primary-color;
            border-color: $brown-on;
          }
        }
      }
    }
  }

}

.GardenTheme{
  .NavBar .NavBarNav{
    .NavItem{
      &:hover{
        background-color: $green ;
      }

      .CenterN{
        color: $green;

        &:hover{
          color: $primary-color;
        }
      }
    }
  }

  .container{
    h3{
      color: $green;
    }

    .SectionB{
      background-color: $green-light;
      color: $primary-color;

      .ResponsiveImg{
        border: 1px solid  $green ;
      }

      .SubSectionB{
        background-color: $green;

        .DisplayS{
          color: $primary-color;
        }

        .InputField .Input {
          background-color: $green-off;

          &::placeholder{
            color: $green-dark;
          }
        }

        .SelectS .FieldS{
          background-color: $green-off;
          color: $green-dark;
        }

        .CheckFieldS{
          .ToggleOffS{
            background-color: $green-off;
            color: $green-dark;
          }

          .ToggleOnS{
            background-color: $green-dark;
            color: $primary-color;
            border-color: $green-dark;
          }
        }
      }
    }
  }

}

.FabulousTheme{
  .NavBar .NavBarNav{
    .NavItem{
      &:hover{
        background-color:  $violet;
      }

      .CenterN{
        color: $violet;

        &:hover{
          color: $primary-color;
        }
      }
    }
  }

  .container{
    h3{
      color: $violet;
    }

    .SectionB{
      background-color: $violet-light;
      color: $primary-color;

      .ResponsiveImg{
        border: 1px solid  $violet ;
      }

      .SubSectionB{
        background-color: $violet;

        .DisplayS{
          color: $primary-color;
        }

        .InputField .Input {
          background-color: $violet-light;

          &::placeholder{
            color: $violet-dark;
          }
        }

        .SelectS .FieldS{
          background-color: $violet-light;
          color: $violet-dark;
        }

        .CheckFieldS{
          .ToggleOffS{
            background-color: $violet-light;
            color: $violet-dark;
          }

          .ToggleOnS{
            background-color: $violet-dark;
            color: $primary-color;
            border-color: $violet-dark;
          }
        }
      }
    }
  }

}

.TropicalTheme{
  .NavBar .NavBarNav{
    .NavItem{
      &:hover{
        background-color: $orange;
      }

      .CenterN{
        color: $orange;

        &:hover{
          color: $primary-color;
        }
      }
    }
  }

  .container{
    h3{
      color: $orange;
    }

    .SectionB{
      background-color: $orange-light;
      color: $primary-color;

      .ResponsiveImg{
        border: 1px solid  $orange ;
      }

      .SubSectionB{
        background-color: $orange;

        .DisplayS{
          color: $primary-color;
        }

        .InputField .Input {
          background-color: $orange-light;

          &::placeholder{
            color: $orange-dark;
          }
        }

        .SelectS .FieldS{
          background-color: $orange-light;
          color: $orange-dark;
        }

        .CheckFieldS{
          .ToggleOffS{
            background-color: $orange-light;
            color: $orange-dark;
          }

          .ToggleOnS{
            background-color: $orange-dark;
            color: $primary-color;
            border-color: $orange-dark;
          }
        }
      }
    }
  }

}

.CandyTheme{
  .NavBar .NavBarNav{
    .NavItem{
      &:hover{
        background-color: $red;
      }

      .CenterN{
        color: $red;

        &:hover{
          color: $primary-color;
        }
      }
    }
  }

  .container{
    h3{
      color: $red;
    }

    .SectionB{
      background-color: $red-light;
      color: $primary-color;

      .ResponsiveImg{
        border: 1px solid  $red ;
      }

      .SubSectionB{
        background-color: $red;

        .DisplayS{
          color: $primary-color;
        }

        .InputField .Input {
          background-color: $red-light;

          &::placeholder{
            color: $red-dark;
          }
        }

        .SelectS .FieldS{
          background-color: $red-light;
          color: $red-dark;
        }

        .CheckFieldS{
          .ToggleOffS{
            background-color: $red-light;
            color: $red-dark;
          }

          .ToggleOnS{
            background-color: $red-dark;
            color: $primary-color;
            border-color: $red-dark;
          }
        }
      }
    }
  }

}

.MustacheTheme{
  .NavBar .NavBarNav{
    .NavItem{
      &:hover{
        background-color: $aquamarine;
      }

      .CenterN{
        color: $aquamarine;

        &:hover{
          color: $primary-color;
        }
      }
    }
  }

  .container{
    h3{
      color: $aquamarine;
    }

    .SectionB{
      background-color: $aquamarine-light;
      color: $primary-color;

      .ResponsiveImg{
        border: 1px solid  $aquamarine ;
      }

      .SubSectionB{
        background-color: $aquamarine;

        .DisplayS{
          color: $primary-color;
        }

        .InputField .Input {
          background-color: $aquamarine-light;

          &::placeholder{
            color: $aquamarine-dark;
          }
        }

        .SelectS .FieldS{
          background-color: $aquamarine-light;
          color: $aquamarine-dark;
        }

        .CheckFieldS{
          .ToggleOffS{
            background-color: $aquamarine-light;
            color: $aquamarine;
          }

          .ToggleOnS{
            background-color: $aquamarine-dark;
            color: $primary-color;
            border-color: $aquamarine-dark;
          }
        }
      }
    }
  }

}