$blue-light: #7bd7ff33 ;
$blue-off: #e4f7ffdb;
$blu-on: #265bbbbf;
$blue:  #3d91b7;
$primary-color: #ffffff;

$yellow : #e8e812;
$brown: #8e8224;
$yellow-light: #ffff3ccf;
$brown-on: #755206d4;

$green: #2eca2e;
$green-light: #2eca2e69;
$green-off: #b1f5b1c9;
$green-dark: #0f8e0f;

$violet: #d448d4;
$violet-light: #f5a6f5;
$violet-dark: #941294;

$orange: #f59103;
$orange-light: #ffc572;
$orange-dark: #a96b12;

$red: #e42e2e;
$red-light: #fd9b9b;
$red-dark: #b72020;

$aquamarine: #17bd6e;
$aquamarine-light: #c0f1da;
$aquamarine-dark: #1c8653;
